//
// Forms
//
@import "../custom/variables";
@import "../core/forms/form";
@import "../core/forms/form-validation";
@import "../core/forms/input-group";


.ng-valid[required]:not(:read-only):not(:disabled),
.ng-valid.required:not(:read-only):not(:disabled) {
    @extend .has-success;
    border-color: $form-feedback-valid-bg !important;
    border-right: 3px solid;
    color: $form-feedback-valid-bg;
}

.ng-invalid:not(form):not(:read-only):not(:disabled) {
    @extend .has-danger;
    border-color: $form-feedback-invalid-bg !important;
    border-right: 3px solid;

    &::placeholder {
        color: $form-feedback-invalid-bg;
    }
}