<div class="col-12">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-9">
          <h3 class="mb-0" translate>{{ !!project.id ? project.name : 'New project' }}</h3>
        </div>
        <div class="col-3 text-right">
          <a class="btn btn-sm btn-outline-info" (click)="cancel()">
            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
          </a>
        </div>
        <!-- <div class="col-4 text-right">
            <a href="#!" class="btn btn-sm btn-primary">Settings</a>
          </div> -->
      </div>
    </div>
    <div class="card-body">
      <form name="project-form">
        <h6 class="heading-small text-muted mb-4" translate>Project information</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="form-control-label" for="name" translate>Name</label>
                <input type="text" name="name" required class="form-control form-control-alternative" placeholder="Name"
                  value="" [(ngModel)]="project.name">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="form-control-label" for="description" translate>Description</label>
                <simplemde #description [value]="project.description" (changed)="project.description = $event;"
                  [name]="'description'"></simplemde>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="form-control-label" for="businessDocumentationUrl" translate>Business documentation
                  URL</label>
                <input type="text" name="businessDocumentationUrl" required
                  class="form-control form-control-alternative" placeholder="URL" value=""
                  [(ngModel)]="project.businessDocumentationUrl">
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label class="form-control-label" for="technicalDocumentationUrl" translate>Technical documentation
                  URL</label>
                <input type="text" name="technicalDocumentationUrl" required
                  class="form-control form-control-alternative" placeholder="URL" value=""
                  [(ngModel)]="project.technicalDocumentationUrl">
              </div>
            </div>
          </div>
          <hr class="my-3">
          <ngb-tabset [destroyOnHide]="false">
            <ngb-tab title="{{'Environments'|translate}}">
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-9">
                  </div>
                  <div class="col-3 text-right" *ngIf="edition">
                    <a class="btn btn-sm btn-outline-info" (click)="createEnvironment()">
                      <svg class="bi bi-plus" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                        <path fill-rule="evenodd"
                          d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <app-environment-list class="mt-3" style="width:100%;" [environments]="project.environments"
                    (environmentSelected)="openEnvironment($event)"></app-environment-list>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="{{'Team'|translate}}">
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-9">
                  </div>
                  <div class="col-3 text-right" *ngIf="edition">
                    <a class="btn btn-sm btn-outline-info" (click)="addUser()">
                      <svg class="bi bi-plus" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                        <path fill-rule="evenodd"
                          d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <app-user-list class="mt-3" style="width:100%;" [users]="project.team"
                    (userSelected)="openUser($event)"></app-user-list>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </form>
    </div>
    <div class="card-body" (click)="save()" *ngIf="edition">
      <a class="btn btn-outline-info" translate>
        Save
      </a>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body p-0">
    <app-environment-editor style="width:100%;" [edition]="edition" (canceled)="modal.dismiss('canceled')"
      (saved)="modal.dismiss('saved')">
    </app-environment-editor>
  </div>
</ng-template>
<ng-template #userContent let-modal>
  <div class="modal-body p-0">
    <app-user-editor style="width:100%;" [edition]="false" (canceled)="modal.dismiss('canceled')"
      (saved)="modal.dismiss('saved')">
    </app-user-editor>
  </div>
</ng-template>
<ng-template #userPickerContent let-modal>
  <div class="modal-body p-0">
    <app-user-selector style="width:100%;" (canceled)="modal.dismiss('canceled')" [selectedList]="project.team"
      (selectUser)="pushUser($event, modal)">
    </app-user-selector>
  </div>
</ng-template>