<form  (ngSubmit)="onSubmit()">
<div class="container-fluid">
    <!-- Card stats -->
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="title" translate>Title</label>
                <input type="text" name="title" required class="form-control form-control-alternative"
                    placeholder="Title" [(ngModel)]="sheet.title">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" [@enter] [@leave]>
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" for="document" translate>Document</label>
                <!-- <div markdown ngPreserveWhitespaces>{{sheet.document}}</div> -->
                <simplemde #document [value]="sheet.document" (changed)="sheet.document = $event;" [name]="'document'"
                    required></simplemde>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <button type="submit" class="btn bg-gradient-success text-white" translate>
            Save
          </button>
    </div>
</div>
</form>