<div class="col-12 p-0">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-9">
          <h3 class="mb-0">{{ !!environment.id ? environment.name : 'New environment' }}</h3>
        </div>
        <div class="col-3 text-right">
          <a class="btn btn-sm btn-outline-info" (click)="cancel()">
            <svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
          </a>
        </div>
        <!-- <div class="col-4 text-right">
            <a href="#!" class="btn btn-sm btn-primary">Settings</a>
          </div> -->
      </div>
    </div>
    <div class="card-body">
      <form name="environment-form">
        <h6 class="heading-small text-muted mb-4">Environment information</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="form-control-label" for="name">Name</label>
                <input type="text" name="name" required class="form-control form-control-alternative" placeholder="Name"
                  [(ngModel)]="environment.name">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="form-control-label" for="url">URL</label>
                <input type="text" name="url" required class="form-control form-control-alternative" placeholder="URL"
                  [(ngModel)]="environment.uRL">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label class="form-control-label" for="server">Server</label>
                <select class="form-control" name="server" [(ngModel)]="environment.serverId">
                  <option *ngFor="let server of servers" [ngValue]="server.id">{{server.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- <hr class="my-4" />
        <h6 class="heading-small text-muted mb-4">Servers</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="input-address">Address</label>
                <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address"
                  value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-city">City</label>
                <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City"
                  value="New York">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-country">Country</label>
                <input type="text" id="input-country" class="form-control form-control-alternative"
                  placeholder="Country" value="United States">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-country">Postal code</label>
                <input type="number" id="input-postal-code" class="form-control form-control-alternative"
                  placeholder="Postal code">
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <h6 class="heading-small text-muted mb-4">About me</h6>
        <div class="pl-lg-4">
          <div class="form-group">
            <label>About Me</label>
            <textarea rows="4" class="form-control form-control-alternative"
              placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
          </div>
        </div> -->
      </form>
    </div>
    <div class="card-body" (click)="save()">
      <a class="btn btn-outline-info">
        Save
      </a>
    </div>
  </div>
</div>