/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';

.ngx-toastr {
    box-shadow: 0 0 12px rgba(0,0,0,0.5) !important;
    &.toast-success {
        background-color: var(--success)
    }
    &.toast-info {
        background-color: var(--info)
    }
    &.toast-warning {
        background-color: var(--warning)
    }
    &.toast-error {
        background-color: var(--danger)
    }
}